@font-face {
  font-family: "Vazirmatn";
  src: url("../fonts/Vazirmatn-Regular.eot") format("eot");
  src: url("../fonts/Vazirmatn-Regular.ttf") format("ttf");
  src: url("../fonts/Vazirmatn-Regular.woff") format("woff");
  src: url("../fonts/Vazirmatn-Regular.woff2") format("woff2");
}
